.centerInXY {
  display: grid;
  align-content: space-evenly;
  justify-content: center; }

.div--gridCentralX {
  display: grid;
  justify-content: center; }

.div--gridCentralY {
  display: grid;
  align-content: space-evenly; }

h1 {
  font-family: 'Playfair Display', serif;
  font-size: 100px; }

.capitalFont {
  font-family: 'Cinzel', serif;
  font-weight: 600; }

.text--alignCenter {
  text-align: center; }

header {
  background-color: #fba618;
  height: 30vh; }

footer {
  background-color: #fa6f12;
  height: 20vh;
  width: 100%; }

@media (max-width: 576px) {
  h1 {
    font-size: 50px; } }
